.title {
  text-align: center;
  color: #002F6C;
  margin-top: 24px;
  margin-bottom: 0;
  font-size: 52px;
}
  
h1, h2, h3, p, div {
  font-family: Arial, Helvetica, sans-serif;
}
  
.mainContainer {
  line-height: 1.5;
  text-align: left;
  width: calc(100% - 104px);
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.flag {
  background-size: 100px auto;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 100px;
  height: 75px;
  line-height: 1em;
  border: 2px solid;
  background-color: white;
}

.countryBtn {
  color: white;
  font-weight: 600;
  border: none;
  padding: 9px 15px;
  border-radius: 12px;
  font-size: 16px;
  background-color: #002F6C;
  width: 100%;
}

.countryBtn:hover {
  cursor: pointer;
  background-color: #001939;
}

.countrySelect {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  border: none;
  border-radius: 16px;
  align-items: center;
  row-gap: 18px;
  box-shadow: 10px 10px 10px #d7d7d7;
  background-color: #F8F8FF;
  text-align: center;
  width: 150px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  column-gap: 48px;
  row-gap: 48px;
  justify-content: center;
  margin-top: 28px;
}

.errorMsg {
  color: #960018;
}

.header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  direction: rtl;
  width: 100%;
}

.quitGame{
  display: flex;
  height: 78px;
  margin-top: 24px;
  margin-bottom: 0;
  align-items: center;
  flex-direction: row;
}

.quitGame > button {
  color: #960018;
  font-weight: 600;
  padding: 9px 15px;
  border-radius: 12px;
  font-size: 16px;
  margin: 8px 5px;
  border: none;
  outline: 2px solid #960018;
  outline-offset: -2px;
  background-color: transparent;
}

.quitGame > button:hover,
.quitGame > button:focus {
  cursor: pointer;
  background-color: #9600183b;
}