.sidebar > div { 
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  overflow: auto;
  padding: 0 20px;
  width: calc(100% - 80px);
}

.sidebar h2 {
  color: white;
  align-items: center;
  margin: 20px 0 0 0;
  overflow: none;
}

.leagueContainer {
  border-radius: 16px;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.leagueContainer > h3 {
  margin: 0 5px;
}

.leagueContainer > div {
  margin: 0 5px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.flag {
  background-size: 100px auto;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 100px;
  height: 70px;
  line-height: 1em;
  border: 2px solid;
  background-color: white;
}

.countryBtn {
  color: white;
  font-weight: 600;
  border: none;
  padding: 9px 15px;
  border-radius: 12px;
  font-size: 16px;
  background-color: var(--blue);
  width: 100%;
}

.countryBtn:hover {
  cursor: pointer;
  background-color: var(--blue-hover);
}

.countrySelect {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: none;
  border-radius: 16px;
  align-items: center;
  row-gap: 18px;
  box-shadow: 10px 10px 10px var(--light-grey);
  background-color: var(--off-white);
  text-align: center;
  width: 150px;
}

hr {
  height: 2px;
  border-width: 0;
  width: 100%;
  background-color: var(--blue);
}

.form {
  display: flex;
  flex-wrap: wrap;
  column-gap: 48px;
  row-gap: 48px;
  margin-top: 28px;
}

.errorMsg {
  color: var(--red);
}

.header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  width: 100%;
  align-items: center;
  height: 78px;
}