.title {
  color: #002F6C;
  margin-top: 6px;
  margin-bottom: 0;
  font-size: 32px;
}
  
h1, h2, h3, p, div {
  font-family: Arial, Helvetica, sans-serif;
}

.pageContent {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: calc(100% - 118px);
}
  
.mainContainer {
  line-height: 1.5;
  text-align: left;
  width: calc(100% - 104px);
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.sidebar {
  background-color: #002F6C;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
  padding: 20px 0;
  overflow: auto;
}

.sidebar > div { 
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  overflow: auto;
  padding: 0 20px;
  width: calc(100% - 80px);
}

.sidebar > h2 {
  color: white;
  align-items: center;
  margin: 20px 0 0 0;
}

.leagueContainer {
  border-radius: 16px;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.leagueContainer > h3 {
  margin: 0 5px;
}

.leagueContainer > div {
  margin: 0 5px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.flag {
  background-size: 100px auto;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 100px;
  height: 70px;
  line-height: 1em;
  border: 2px solid;
  background-color: white;
}

.countryBtn {
  color: white;
  font-weight: 600;
  border: none;
  padding: 9px 15px;
  border-radius: 12px;
  font-size: 16px;
  background-color: #002F6C;
  width: 100%;
}

.countryBtn:hover {
  cursor: pointer;
  background-color: #001939;
}

.countrySelect {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: none;
  border-radius: 16px;
  align-items: center;
  row-gap: 18px;
  box-shadow: 10px 10px 10px #d7d7d7;
  background-color: #F8F8FF;
  text-align: center;
  width: 150px;
}

hr {
  height: 2px;
  border-width: 0;
  width: 100%;
  background-color: #002F6C;
}

.form {
  display: flex;
  flex-wrap: wrap;
  column-gap: 48px;
  row-gap: 48px;
  margin-top: 28px;
}

.errorMsg {
  color: #960018;
}

.header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  width: 100%;
  align-items: center;
  height: 78px;
}

.quitGame{
  display: flex;
  height: 78px;
  margin-bottom: 0;
  align-items: center;
  flex-direction: row;
  direction: rtl;
}

.quitGame > button {
  color: #960018;
  font-weight: 600;
  padding: 9px 15px;
  border-radius: 12px;
  font-size: 16px;
  margin: 8px 5px;
  border: none;
  outline: 2px solid #960018;
  outline-offset: -2px;
  background-color: transparent;
}

.quitGame > button:hover {
  cursor: pointer;
  background-color: #9600183b;
}

.disabled {
  color: white;
  font-weight: 600;
  border: none;
  padding: 9px 15px;
  border-radius: 12px;
  font-size: 16px;
  background-color: grey;
  width: 100%;
}


.sidebar > div::-webkit-scrollbar {
  width: 8px;
}

.sidebar > div::-webkit-scrollbar-track {
  background: none;
}
 
.sidebar > div::-webkit-scrollbar-thumb {
  border-radius: 16px;
  background: white;
}