<html>
    <head>
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <link rel="stylesheet" href="../static/css/draft.css" />
        <link 
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css"
        />
    </head>
    <body>
        <h1 class="title"> Draft: Round {{ round }} </h1>
        <div class="mainContainer">
            <h2>
                Pick your team, {{ player }}
            </h2>
            <div>{{ error }}</div>
            <form class="form" action="/draft" id="league_selection" method="POST" />
        </div>
    </body>

    <script type="text/javascript">
        let countries = '{{ available_countries }}'.replace(/&#39;/g, '').replace('[', '').replace(']', '').split(", ");
        let codes = '{{ country_codes }}'.replace(/&#39;/g, '').replace('[', '').replace(']', '').split(", ");
        counts = {};
        countries.forEach(function(country) { counts[country] = (counts[country] || 0) + 1; });
        countries = Array.from(new Set(countries));
        for (let i = 0; i < countries.length; i++) {
            const country = countries[i];
            const code = codes[i];
            const countrySelect = document.createElement('div');
            countrySelect.setAttribute('class', 'countrySelect');
            const img = document.createElement('span');
            img.setAttribute('class', 'flag fi-'+code);
            countrySelect.appendChild(img);
            const text = document.createElement('div');
            const countryName = document.createElement('div');
            countryName.appendChild(document.createTextNode(country));
            const availability = document.createElement('div');
            if (counts[country] == 1) {
                availability.appendChild(document.createTextNode('Available 1 time'));
            }
            else {
                availability.appendChild(document.createTextNode('Available ' + counts[country] + ' times'));
            }
            text.appendChild(countryName);
            text.appendChild(availability);
            countrySelect.appendChild(text);
            const countryButton = document.createElement('button');
            countryButton.setAttribute('type', 'submit');
            countryButton.setAttribute('name', country);
            countryButton.setAttribute('class', 'countryButton');
            countryButton.appendChild(document.createTextNode('Select'));
            countrySelect.appendChild(countryButton);
            document.getElementById("league_selection").appendChild(countrySelect);
            // const countryButton = document.createElement('button');
            // countryButton.setAttribute('type', 'submit');
            // countryButton.setAttribute('name', country);
            // countryButton.setAttribute('value', country);
            // countryButton.setAttribute('class', 'countryButton');
            // const img = document.createElement('span');
            // img.setAttribute('class', 'flag fi-'+code);
            // countryButton.appendChild(img);
            // const text = document.createElement('div');
            // const countryName = document.createElement('div');
            // countryName.appendChild(document.createTextNode(country));
            // const availability = document.createElement('div');
            // if (counts[country] == 1) {
            //     availability.appendChild(document.createTextNode('Available 1 time'));
            // }
            // else {
            //     availability.appendChild(document.createTextNode('Available ' + counts[country] + ' times'));
            // }
            // text.appendChild(countryName);
            // text.appendChild(availability);
            // countryButton.appendChild(text);
            // document.getElementById("league_selection").appendChild(countryButton);
        }
    </script>
</html>