<html>
    <head>
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <link rel="stylesheet" href="../static/css/shared.css" />
        <link rel="stylesheet" href="../static/css/draft.css" />
        <link 
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css"
        />
    </head>
    <body style="min-width: 950px; margin: 0;">
        {% include "header.html" %}
        <div id="page-container" class="pageContent">
            <div id="sidebar" class="sidebar">
                <h2>Current Leagues</h3>
                <div>
                    {% for league in all_leagues %}
                    {% if league[1] == [] %}
                    <div class="leagueContainer">
                        <h3>{{ league[0] }}</h3>
                        <hr>
                        <div>No teams in your league yet!</div>
                    </div>
                    {% else %}
                        <div class="leagueContainer">
                            <h3>{{ league[0] }}</h3>
                            <hr>
                            <div>
                                {% for country in league[1] %}
                                    <div>{{ country }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="mainContainer">
                <div class="header">
                    <h2 class="title"> Draft: Round {{ round }} </h2>
                    <form action="/" id="game_play" method="POST" class="quitGame">
                        <button type="submit">Quit Game</button>
                    </form>
                </div>
                <h2>
                    {{ player }}, select a team
                </h2>
                <div class="errorMsg">{{ error }}</div>
                <form class="form" action="/draft" id="league-selection" method="POST"></form>
            </div>
        </div>
    </body>

    <script type="text/javascript">
        let countries = JSON.parse('{{ available_countries }}'.replace(
                /&#39;/g, '"'
            )).sort((c1, c2) => c1 - c2);
        let codes = JSON.parse('{{ country_codes }}'.replace(
            /&#39;/g, '"'
        ));
        counts = {};
        countries.forEach(
            function(country) { counts[country] = (counts[country] || 0) + 1; }
        );
        countries = Array.from(new Set(countries));

        const league =  '{{ curr_league }}'.replace(
            /&#39;/g, ''
        ).replace( '[', '').replace(']', '').split(", ");
        for (let i = 0; i < countries.length; i++) {
            const country = countries[i];
            const code = codes[i];
            const timeText = counts[country] == 1 ? 'time' : 'times';
            let selectButton; 
            if (league.includes(country)) {
                selectButton =
                    `<div class="countrySelect">
                        <span class="flag fi-${code}"></span>
                        <div>
                            <div>
                                ${country}
                            </div>
                            <div>
                                Available ${counts[country]} ${timeText}
                            </div>
                        </div>
                        <button type="submit" name="${country}" class="disabled" disabled value="Draft Team">
                            In Your League
                        </button>
                    </div>`
            }
            else {
                selectButton =
                    `<div class="countrySelect">
                        <span class="flag fi-${code}"></span>
                        <div>
                            <div>
                                ${country}
                            </div>
                            <div>
                                Available ${counts[country]} ${timeText}
                            </div>
                        </div>
                        <button type="submit" name="${country}" class="countryBtn" value="Draft Team">
                            Select
                        </button>
                    </div>`
            }
            document.getElementById("league-selection").innerHTML 
                += selectButton;
        }
    </script>
</html>